<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark">
        <div class="navbar-brand px-lg-4 m-0">
            <a href="{{ '/' | absolute_url }}">
                <h1 class="m-0 display-7 text-white">Calzados Arrieta</h1>
            </a>
            <a class="text-white" style="width: 100%; display: inline-block; font-size: 0.8em; text-align: center;" href="tel:{{ site.phone }}" ><i class="fa fa-phone-alt mr-2"></i><b>{{ site.phone }}</b></a>
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                <a href="{{ 'nuestros-productos.html#searchBox' | absolute_url }}" class="nav-item nav-link">Buscar<i class="fa fa-search" style="float: none; padding-left: 10px;"></i></a>
                <a href="{{ '/' | absolute_url }}" class="nav-item nav-link">Portada</a>
                <a href="{{ 'alpargatas.html' | absolute_url }}" class="nav-item nav-link">Alpargatas</a>
                <div class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">Zapatillas</span>
                    <div class="dropdown-menu text-capitalize">
                        <a href="{{ 'zapatillas-senora-verano.html' | absolute_url }}" class="dropdown-item">Señora Verano</a>
                        <a href="{{ 'zapatillas-senora-invierno.html' | absolute_url }}" class="dropdown-item">Señora Invierno</a>
                        <a href="{{ 'zapatillas-caballero.html' | absolute_url }}" class="dropdown-item">Caballero</a>
                    </div>
                </div>
                <a href="{{ 'calzado-de-calle.html' | absolute_url }}" class="nav-item nav-link">Calzado de calle</a>
                <a href="{{ 'pies-delicados.html' | absolute_url }}" class="nav-item nav-link">Pies delicados</a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->