<!-- Begin SEO -->
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Open Graph --> 
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
    <meta property="og:locale" content="{{ site.locale }}" />
    <meta property="og:url" content="{{ site.url }}/{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:image" content="{{ site.url }}/{{ page.image | uri_escape }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ page.description | default: site.description }}" />


    <!-- Other meta -->
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="author" content="{{ site.author }}" />
    <meta name="google-site-verification" content="{{ site.webmaster_verifications.google }} " />
    <link rel="canonical" href="{{ site.url }}/{{ page.url }}" />

    <!-- Twitter meta -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ site.url }}/{{ page.image | uri_escape }}" />
    <meta property="twitter:title" content="{{ page.title }} | {{ site.title }}" />

    <!-- JSON+LD SCHEMA -->
    {% if page.seo_type == "Product" %}
    <script type="application/ld+json">
    {
      "@context":"https://schema.org",
      "@type":"Product",
      "name":"{{ page.title  }}",
      "description":"{{ page.description }}",
      "headline":"{{ page.title }} | {{ site.title }}",
      "image":"{{ site.url }}/{{ page.image | uri_escape }}",
      "url":"{{ page.url }}",
      "offers": {
        "@type": "Offer",
        "url": "{{ site.url }}/{{ page.url }}",
        "priceCurrency": "EUR",
        "price": {{ page.price }},
        "priceValidUntil": "2030-11-20",
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock"
      }
    }
    </script>
    {% else %}
    <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "ShoeStore",
      "name": "{{ site.title }}",
      "url": "{{ site.url }}",
      "sameAs": [
         "{{ site.sameAs.facebook }}"
      ],
      "logo": "{{ site.logo }}",
      "priceRange": "$$",
      "image": "{{ site.url }}/{{ page.image | uri_escape }}",
      "description": "{{ site.description }}",
      "keywords": "{{ site.keywords }}",
      "address": {
         "@type": "PostalAddress",
         "streetAddress": "{{ site.street }}",
         "addressLocality": "{{ site.city }}",
         "addressRegion": "{{ site.region }}",
         "postalCode": "{{ site.zip }}",
         "addressCountry": "{{ site.country }}"
      },
      "geo": {
         "@type": "GeoCoordinates",
         "latitude": "{{ site.latitude }}",
         "longitude": "{{ site.longitude }}"
      },
      "hasMap": "{{ site.sameAs.google_maps }}",
      "openingHours": "Mo-Sa 09:30-13:30 Mo-Sa 16:30-20:00",
      "telephone": "{{ site.phone }}",
      "email": "{{ site.email }}"
    }
    </script>
{% endif %}
