{% include head.html %}

<body>
    {% include header.html %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-2">
        <div id="blog-carousel" class="carousel slide overlay-bottom" data-ride="carousel">
            <div class="carousel-inner">
                {% for especialidad in page.especialidad %}
                <div class="carousel-item {{ especialidad.class }}">
                    <div class="w-100 parallax" alt="{{ especialidad.title }}" style="background-image: url('{{ especialidad.image }}'); min-height: 450px;"></div>
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-primary font-weight-medium m-0">Especialidad en</h2>
                        <h1 class="display-4 text-white">{{ especialidad.title }}</h1>
                        <h3 class="text-white"><i>desde 1946</i></h3>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nuestra historia</h4>
                <h1 class="display-4">A tu servicio desde 1946</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Historia</h1>
                    <p>Te damos la bienvenida a nuestro pequeño comercio. Fundado en el año 1946, distintas generaciones de nuestra familia trabajamos para ofrecerte calidad y atención personalizada. Para ello apostamos por productos de fabricación nacional y larga trayectoria en el mercado. Nuestra estrategia combina la calidad y el conocimiento del producto, con precios ajustados para que vuelvas siempre que quieras. Queremos seguir cuidando de tus pies y de los de los tuyos.</p>
                    <!--<a href="#" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">Learn More</a>-->
                </div>
                <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img loading="lazy" alt="Nuestra historia, tradición alpargatera y zapatillera" class="position-absolute w-100 h-100" src="img/historia.webp" style="object-fit: contain;">
                    </div>
                </div>
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Visión</h1>
                    <p>La meta de Calzados Arrieta es lograr la satisfacción de nuestros clientes asesorando y acompañando en la elección de un calzado que, además de bonito, resulte cómodo, respetuoso con tus pies y de calidad. Todo ello, sin perder de vista nuestro compromiso de mantener los precios todo lo ajustados y asequibles que nos es posible.
                    Seleccionamos a nuestros proveedores con todo el cariño de entre aquellos que hacen de la armoniosa fusión entre tradición y nuevas técnicas de producción, su bandera. De esta forma conseguimos que lleguen a nuestros clientes productos fabricados con las mejores materias primas, materiales con larga trayectoria en el mercado y de resultados demostrados, uniendo la tradición con el conocimiento de nuestros días para lograr productos vanguardistas en comodidad y de moda, garantizando la excelencia en cada paso. 
                    Asimismo, defendemos el comercio local como motor económico, generador de empleo e identidad del barrio, siendo un lugar de encuentro donde se disfruta de un experiencia agradable y se puede probar el producto y encontrar un trato humano. Te invitamos a vivir el comercio local, ser parte de él y disfrutarlo, ¡lo tienes debajo de casa!</p>
                    {% for value in page.values %}
                    <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>{{ value.title }}</h5>
                    {% endfor %}
                    <!--<a href="#" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Learn More</a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nuestros valores</h4>
                <h1 class="display-4">Calidad. Atención. Precio.</h1>
            </div>
            <div class="row">
                {% for value in page.values %}
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center grid">
                        <div class="col-12 col-sm-7">
                            <h4><i class="{{ value.icon }} service-icon"></i>{{ value.title }}</h4>
                        </div>
                        <div class="col-5 px-0 px-sm-3 col-sm-2y col-sm-first">
                            <img loading="lazy" class="w-100 cover square mb-3" src="{{ value.image | absolute_url }}" alt="{{ value.title }}">
                        </div>
                        <div class="col-7">
                            <p class="m-0">{{ value.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Offer Start -->
    <div class="offer container-fluid my-5 py-5 text-center position-relative overlay-top overlay-bottom">
        <div class="container py-1">
            <h1 class="display-3 text-primary mt-3">Calidad garantizada</h1>
            <h1 class="text-white mb-3">Producto 100% nacional</h1>
            <h4 class="text-white font-weight-normal mb-4 pb-3">Todos nuestros productos son de origen nacional</h4>
        </div>
    </div>
    <!-- Offer End -->


    <!-- Menu Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nuestros productos</h4>
                <h3 class="display-4">Calidad al mejor precio</h3>
                <h4 class="text-primary mt-4">{{ page.featured.title }}</h4>
            </div>
            <div class="row top6">
                {% assign products = site.pages | sort: 'order' | reverse %}
                {% for product in products %}{% if product.image contains page.featured.filter %}
                <!-- Begin producto destacado -->
                <div class="col-lg-6">
                    <a href="{{ product.url | absolute_url }}">
                        <div class="row align-items-center mb-5">
                            <div class="col-4">
                                <img loading="lazy" class="w-100 rounded-circle mb-3 mb-sm-0" alt="{{ product.title }} {{ product.price }} {{ product.description }}" src="{{ product.image | absolute_url | uri_escape }}" style="object-fit: cover; aspect-ratio: 1;">
                                {% if product.price %}<h5 class="menu-price">{{ product.price }}€</h5>{% endif %}
                            </div>
                            <div class="col-8">
                                <h4>{{ product.title }}</h4>
                                <p class="m-0">{{ product.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End producto destacado -->
                {% endif %}{% endfor %}                
            </div>
        </div>
    </div>
    <!-- Menu End -->


    <!-- Reservation Start - ->
    <div class="container-fluid my-5" id="reservation">
        <div class="container">
            <div class="reservation position-relative overlay-top overlay-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-6 my-5 my-lg-0">
                        <div class="p-5">
                            <div class="mb-4">
                                <h1 class="display-4 text-primary">Trato humano</h1>
                                <h1 class="text-white">Atención personalizada</h1>
                            </div>
                            <p class="text-white">Lorem justo clita erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                                ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea</p>
                            <ul class="list-inline text-white m-0">
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">
                            <h1 class="text-white mb-4 mt-5">Escribenos</h1>
                            <form class="mb-5">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-transparent border-primary p-4" placeholder="Name"
                                        required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control bg-transparent border-primary p-4" placeholder="Email"
                                        required="required" />
                                </div>
                                <div class="form-group">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text" class="form-control bg-transparent border-primary p-4 datetimepicker-input" placeholder="Date" data-target="#date" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text" class="form-control bg-transparent border-primary p-4 datetimepicker-input" placeholder="Time" data-target="#time" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="custom-select bg-transparent border-primary px-4" style="height: 49px;">
                                        <option selected>Person</option>
                                        <option value="1">Person 1</option>
                                        <option value="2">Person 2</option>
                                        <option value="3">Person 3</option>
                                        <option value="3">Person 4</option>
                                    </select>
                                </div>
                                
                                <div>
                                    <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Reservation End -->


    <!-- Offer Start -->
    <div class="offer container-fluid my-5 py-5 text-center position-relative overlay-top overlay-bottom">
        <div class="container py-0">
            <h1 class="display-3 text-primary mt-3">Trato humano</h1>
            <h1 class="text-white mb-3">Atención personalizada</h1>
            <h4 class="text-white font-weight-normal mb-4 pb-3">No dudes en ponerte en contacto con nosotros</h4>
        </div>
    </div>
    <!-- Offer End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-2">
        <div class="container">
            <!--<div class="section-title">
            <!--    <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nuestros productos</h4>
                <h1 class="display-4">Calidad al mejor precio</h1>- ->
            </div>-->
            <div class="row px-3 pb-2">
                <div class="col-sm-4 text-center mb-3">
                    <a href="{{ site.sameAs.google_maps }}">
                        <i class="fa fa-2x fa-map-marker-alt mb-3 text-primary"></i>
                        <h4 class="font-weight-bold">Dirección</h4>
                        <p class="text-dark">{{ site.address }}</p>
                    </a>
                </div>
                <div class="col-sm-4 text-center mb-3">
                    <a href="tel:{{ site.phone }}" >
                        <i class="fa fa-2x fa-phone-alt mb-3 text-primary"></i>
                        <h4 class="font-weight-bold">Teléfono</h4>
                        <p class="text-dark">{{ site.phone }}</p>
                    </a>
                </div>
                <div class="col-sm-4 text-center mb-3">
                    <a href="mailto:{{ site.email }}">
                        <i class="far fa-2x fa-envelope mb-3 text-primary"></i>
                        <h4 class="font-weight-bold">Email</h4>
                        <p class="text-dark">{{ site.email }}</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pb-5">
                    <iframe title="Encuentranos en Google Maps" style="width: 100%; height: 443px; border:0;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11707.451706545557!2d-1.6398727!3d42.8123826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5092559cbe36fb%3A0xef1ae653672dd51e!2sCalzados%20Arrieta!5e0!3m2!1sen!2ses!4v1710943114076!5m2!1sen!2ses"
                        frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-6 pb-5">
                    <div class="contact-form">
                        <form id="contactForm">
                            <div>
                                <input type="text" class="form-control bg-transparent p-4" name="nombre" placeholder="Nombre"
                                    required="required" />
                            </div>
                            <div>
                                <input type="email" class="form-control bg-transparent p-4" name="email" placeholder="Email"
                                    required="required"/>
                            </div>
                            <div>
                                <input type="text" class="form-control bg-transparent p-4" name="asunto" placeholder="Asunto"
                                    required="required"/>
                            </div>
                            <div>
                                <textarea class="form-control bg-transparent py-3 px-4" rows="5" name="mensaje" placeholder="Mensaje" required="required"></textarea>
                            </div>
                            <div>
                                <a class="btn btn-primary font-weight-bold py-3 px-5" onclick="sendForm('#contactForm')">Enviar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-4">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonios</h4>
                <h1 class="display-4">La opinión de nuestros clientes</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                {% for review in page.reviews %}
                <div class="testimonial-item">
                    <div class="d-flex align-items-center mb-3">
                        <img loading="lazy" class="img-fluid" src="{{ review.img }}" alt="{{ review.name }}: {{ review.text }}">
                        <div class="ml-3">
                            <h4>{{ review.name }}</h4>
                            <i>{{ review.role }}</i>
                        </div>
                    </div>
                    <p class="m-0">{{ review.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


{% include footer.html %}

</body>

</html>