{% include head.html %}

<body>

{% include header.html %}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-0 position-relative overlay-bottom" style="background-image: radial-gradient(rgba(51, 33, 29, 0.8), rgba(51, 33, 29, 0.3)), url('{{ page.image | absolute_url | uri_escape }}');">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="text-align: center">
        <h1 class="{% if page.title.size < 35 %} display-4 {% endif %} mb-3 mt-0 mt-lg-3 text-white">{{ page.title }}</h1>
        <!--<div class="d-inline-flex mb-2">
            <p class="m-0 text-white">{{ page.description }}</p>
        </div>-->
    </div>
</div>
<!-- Page Header End -->

<section class="section-products">
 <!-- Contact Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="px-5 text-center">
                <h5 class="font-weight-bold">Escribenos para confirmar disponibilidad y vestir tus pies de forma cómoda y elegante</h5>
            </div>
            <div class="row py-4">
                <div class="col-md-6 pb-3">
                     <img alt="{{ page.title }} | {{ page.price }} {{ page.description }}" src="{{ page.image | absolute_url | uri_escape }}" style="object-fit: cover; object-position: center; width: 100%; height: 500px; border:0;" onclick="previewImage(this)">
                     {% if page.price %}<h5 class="menu-price mt-3 mr-3">{{ page.price }}€</h5>{% endif %}
                </div>
                <div class="col-md-6 py-4">
                    <div class="row">
                        <div class="col-sm-4 text-center mb-3">
                            <a href="{{ site.sameAs.google_maps }}">
                                <i class="fa fa-2x fa-map-marker-alt mb-3 text-primary"></i>
                                <h4 class="font-weight-bold">Dirección</h4>
                                <p>{{ site.address }}</p>
                            </a>
                        </div>
                        <div class="col-sm-4 text-center mb-3">
                            <a href="tel:{{ site.phone }}" >
                                <i class="fa fa-2x fa-phone-alt mb-3 text-primary"></i>
                                <h4 class="font-weight-bold">Teléfono</h4>
                                <p>{{ site.phone }}</p>
                            </a>
                        </div>
                        <div class="col-sm-4 text-center mb-3">
                            <a href="mailto:{{ site.email }}">
                                <i class="far fa-2x fa-envelope mb-3 text-primary"></i>
                                <h4 class="font-weight-bold">Email</h4>
                                <p style="overflow-wrap: anywhere;">{{ site.email }}</p>
                            </a>
                        </div>
                    </div>
                    <div class="contact-form">
                        <form id="contactForm">
                            <!--<div>
                                <input type="text" class="form-control bg-transparent p-4" name="nombre" placeholder="Nombre" required="required" />
                            </div>-->
                            <div class="p-0 m-0">
                                <input type="hidden" class="form-control bg-transparent p-4" name="asunto" placeholder="Asunto" required="required" value="{{ page.title }} | {{ page.url | absolute_url }}" />
                            </div>
                            <div>
                                <textarea class="form-control bg-transparent py-3 px-4" rows="5" name="mensaje" placeholder="Mensaje" required="required">Muy buenas... {{ page.title }}</textarea>
                            </div>
                            <div style="max-width: 70%; display: inline-block;" class="pr-2">
                                <input type="email" class="form-control bg-transparent p-4" name="email" placeholder="Email" required="required"/>
                            </div>
                            <div style="max-width: 30%; display: inline-block; float: right; overflow-x: hidden;">
                                <a class="btn btn-primary font-weight-bold py-2 px-3 px-md-4 my-1" style="max-width: 100%" onclick="sendForm('#contactForm')">Enviar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact End -->
</section>


<section>
    <div class="container">
        <div class="text-center mb-5 section-title----">
            <!--<h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Productos similares</h4>-->
            <h1 class="display-5">Tambien te puede interesar</h1>
        </div>
        <div class="owl-carousel similar-product-carousel">
        {% assign similar = page.image | split: "/" | slice: 2, 1 | join: '' %}
        {% assign similarProducts = site.pages | sort: 'order' | reverse | where_exp: "sp", "sp.image contains similar" | sample: 12 %}
        {% for product in similarProducts %}
            <!-- Begin producto similar -->
            <div class="testimonial-item">
                <a href="{{ product.url | absolute_url }}">
                    <div>
                        <img loading="lazy" class="w-100 rounded-circle mb-3 mb-sm-0" alt="{{ product.title }} {{ product.price }} {{ product.description }}" src="{{ product.image | absolute_url | uri_escape }}" style="object-fit: cover; aspect-ratio: 1;">
                        {% if product.price %}<h5 class="menu-price">{{ product.price }}€</h5>{% endif %}
                    </div>
                    <div>
                        <p class="m-0 text-dark text-center">{{ product.title }}</p>
                    </div>
                </a>
            </div>
            <!-- End producto similar -->
            {% endfor %}
        </div>
    </div>
</section>


{% include footer.html %}


</body>

</html>