{% include head.html %}

<body>

{% include header.html %}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-0 position-relative overlay-bottom" style="background-image: linear-gradient(rgba(51, 33, 29, 0.8), rgba(51, 33, 29, 0.3)), url('{{ page.image | absolute_url | uri_escape }}');">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 350px; text-align: center">
        <h1 class="display-4 mb-3 mt-0 mt-lg-3 text-white">{{ page.title }}</h1>
        <div class="d-inline-flex mb-2">
            <p class="m-0 text-white">{{ page.description }}</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Search Box Start -->
<div id="searchBox" class="container row mt-1 align-items-center" style="margin: auto;">
    <div class="search contact-form col-md-6 mt-4">
        <input onkeyup="sortProducts(this.value)" type="text" class="form-control p-4" name="query" placeholder="Encuentra tus zapatillas ideales" onfocus='goTo("{{ 'nuestros-productos.html#searchBox' | absolute_url }}")'/>
        <i class="fa fa-search"></i>
    </div>
    <div class="contact-form col-md-6 mt-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ page.title }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for section in site.pages %}{% if section.layout contains 'section' and section.name != '404.md' %}
                <a href="{{ section.url | absolute_url }}" class="dropdown-item">{{ section.title }}</a>
            {% endif %}{% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Search Box End -->


{% assign shown = "" %}
{% for category in page.categories %}
<section class="section-products pt-4 hide-when-empty">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>{{ category.title }}</h2>
                    {{ category.description }}
                </div>
            </div>
        </div>
        <div class="row old-grid">
            {% assign products = site.pages | sort: 'order' | reverse %}
            {% assign filter1 = category.filter-folder | default: 'productos/' %}
            {% assign filter2 = category.filter-name | default: 'productos/' %}
            {% assign filter3 = category.filter-name-and | default: 'productos/' %}
            {% assign filter2OR = category.filter-name-or | default: filter2 %}            
            {% assign filterNOT = category.filter-name-not | default: 'asdfasdfkadflñasdfa' %}
            {% assign filterNoRepeat = category.filter-no-repeat | default: '' %}
            {%- for product in products -%}
            {%- if product.image contains filter1 and product.image contains filter3 -%}
            {%- unless product.image contains filterNOT -%}
            {%- if product.image contains filter2 or product.image contains filter2OR -%}
            {%- unless filterNoRepeat != '' and shown contains product.image -%}
            {% assign shown = shown | append: product.image | append: '|||' %}

            <!-- Start Single Product -->
            {% if product.tags contains "doble" %}<div class="doble col-md-12 col-lg-8 col-xl-6">
            {% else %}<div class="col-md-6 col-lg-4 col-xl-3">{% endif %}
                <div class="single-product" data-image="{{ product.image | absolute_url }}" data-url="{{ product.url | absolute_url }}" onclick="handleProductClick(this)" data-description="{{ product.title }} {{ product.price }} {{ product.description }}" data-title="{{ product.title }}">
                    <a class="favourite-mark toogleFavorite"><i class="fas fa-heart"></i></a>
                    <div class="part-1">
                        <!--<span class="price">{{ product.price }}€</span>-->
                        {% if product.tags contains "oferta" %}<span class="discount">Oferta</span>{% endif %}
                        {% if product.tags contains "novedad" %}<span class="new">Novedad</span>{% endif %}
                        <ul>
                            <li><a href="{{ product.url | absolute_url }}"><i class="fas fa-shopping-cart"></i></a></li>
                            <li class="toogleFavorite"><a><i class="fas fa-heart"></i></a></li>
                            <li class="showShare"><a><i class="fas fa-share-alt"></i></a></li>
                            <li class="preview"><a><i class="fas fa-expand"></i></a></li>
                            <li class="share"><a><i class="fab fa-whatsapp"></i></a></li>
                            <li class="share"><a><i class="fab fa-facebook"></i></a></li>
                            <li class="share"><a><i class="fas fa-envelope"></i></a></li>
                            <li class="clipboard"><a><i class="fa fa-clipboard"></i></a></li>
                            <li class="share"><a><i class="fa-brands fa-x-twitter"></i></a></li>
                        </ul>
                        <img class="part-1-before" loading="lazy" alt="{{ product.title }} | {{ product.price }} {{ product.description }}" src="{{ product.image | absolute_url | uri_escape }}">
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{ product.title }}</h3>
                        {% if product.price %}<h4 class="product-price">{{ product.price }}€</h4>{% endif %}
                    </div>
                </div>
            </div>
            <!-- End Single Product -->
            {%- endunless -%}{%- endif -%}{%- endunless -%}{%- endif -%}{%- endfor -%}
        </div>
    </div>
</section>
{% endfor %}



{% if page.name == '404.md' %}

{{ page.content }}

{% endif %}


{% include footer.html %}

</body>

</html>