{% include head.html %}

<body>

{% include header.html %}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-0 position-relative overlay-bottom" style="background-image: linear-gradient(rgba(51, 33, 29, 0.8), rgba(51, 33, 29, 0.3)), url('{{ page.image | absolute_url | uri_escape }}');">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 350px; text-align: center">
        <h1 class="display-4 mb-3 mt-0 mt-lg-3 text-white">{{ page.title }}</h1>
        <div class="d-inline-flex mb-2">
            <p class="m-0 text-white">{{ page.description }}</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div id="searchBox" class="container row mt-1 align-items-center" style="margin: auto;">
    <div class="search contact-form col-md-6 mt-4">
        <input onkeyup="sortProducts(this.value)" type="text" class="form-control p-4" name="query" placeholder="Encuentra tus zapatillas ideales"/>
        <i class="fa fa-search"></i>
    </div>
    <div class="contact-form col-md-6 mt-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ page.title }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for section in site.pages %}{% if section.layout contains 'section' and section.name != '404.md' %}
                <a href="{{ section.url | absolute_url }}" class="dropdown-item">{{ section.title }}</a>
            {% endif %}{% endfor %}
            </div>
        </div>
    </div>
</div>

<!--{{ page.content }}-->

{% for category in page.categories %}
<section class="section-products pt-4">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>{{ category.title }}</h2>
                    {{ category.description }}
                </div>
            </div>
        </div>
        <div class="row grid">
            {% assign products = site.pages | sort: 'order' | reverse %}
            {% assign filter2 = category.filter2 | default: 'productos/' %}
            {% assign filter3 = category.filter3 | default: 'productos/' %}
            {% for product in products %}{% if product.image contains category.filter and product.image contains filter2 and product.image contains filter3 %}

            <!-- Start Single Product -->
            {% if product.tags contains "doble" %}<div class="doble col-md-12 col-lg-8 col-xl-6">
            {% else %}<div class="col-md-6 col-lg-4 col-xl-3">{% endif %}
                <div class="single-product" data-filter="{{ product.image }}">
                    <div class="part-1">
                        {% if product.tags contains "oferta" %}<span class="discount">Oferta</span>{% endif %}
                        {% if product.tags contains "novedad" %}<span class="new">Novedad</span>{% endif %}
                        <ul>
                            <li><a href="{{ product.url | absolute_url }}"><i class="fas fa-shopping-cart"></i></a></li>
                            <li><a><i class="fas fa-heart"></i></a></li>
                            <li><a onclick="showShare()"><i class="fas fa-share-alt"></i></a></li>
                            <li><a onclick="previewImage(this.parentNode.parentNode.nextElementSibling)"><i class="fas fa-expand"></i></a></li>
                        </ul>
                        <img class="part-1-before" loading="lazy" alt="{{ product.title }} {{ product.price }} {{ product.description }}" src="{{ product.image | absolute_url | uri_escape }}">
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{ product.title }}</h3>
                        <h4 class="product-old-price">{{ basename | slice: 2 }}</h4>
                        <h4 class="product-price">{{ product.price }}</h4>
                    </div>
                </div>
            </div>
            <!-- End Single Product -->
            {% endif %}{% endfor %}
        </div>
    </div>
</section>
{% endfor %}

{% include footer.html %}

</body>

</html>